@charset 'UTF-8';

@import "slick-carousel/slick/slick.scss";

.home {
  section.feature {
    background: $secondary-color;
    height: size(600, 14);
    // max-height: 100%;

    @include widescreen {
      height: size(900);
    }

    .container {
      height: 100%;
    }

    .content {
      align-items: flex-end;
      display: grid;
      grid-template-columns: 40% 60%;
      height: 100%;

      @include phone {
        grid-template-columns: 100%;
      }
    }

    .slider-nav {
      padding-bottom: 60px;
      h2 {
        color: $primary-color;
        font-family: $second-font;
        font-size: size(35);
        line-height: 44px;
        margin-bottom: size(20);
      }

      p {
        color: #fff;
        font-size: size(22);
        line-height: 30px;
        margin-bottom: 20px;
      }

      button {
        background: #19254f;
        border: 0;
        border-radius: 50px;
        color: #fff;
        display: block;
        font-size: size(16);
        font-weight: bold;
        padding: 15px 30px;
        text-transform: uppercase;
      }
    }

    .slider-mask {
      background: transparent url("./images/features/moldura_macbook.png")
        bottom center no-repeat;
      background-size: 100% 100%;

      @include lg-desktop {
        align-self: flex-end;
      }

      @include phone {
        display: none;
      }
    }

    .slider-for {
      margin: 0 auto 37px;
      height: 100%;
      max-height: size(670);
      max-width: 86%;
      padding-top: 4px;
      width: 100%;

      @include lg-desktop {
        max-height: size(450);
      }

      & > div {
        height: 100%;
        max-height: size(670);
        @include lg-desktop {
          max-height: size(450);
        }
      }

      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
      }
    }

    // DOTS
    .slick-dots {
      display: block !important;
      list-style: none;
      margin-top: 30px;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 8px;
      }

      .slick-active {
        button {
          background: $primary-color;
        }
      }

      button {
        background: #ffffff;
        border: none;
        font-size: 0;
        height: 3px;
        padding: 0;
        width: 50px;
      }
    }
  }

  section.videos {
    background: #333e54;
    padding-top: size(30);

    .container {
      height: 100%;
      position: relative;
    }

    .content {
      align-items: flex-end;
      display: grid;
      grid-template-columns: 80% 20%;
      height: 100%;

      @include phone {
        grid-template-columns: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
      }
    }

    .videos__text {
      color: #fff;
      font-size: 18px;
      height: auto;
      line-height: 34px;
      position: absolute;
      right: 40px;
      top: 85px;
      width: 300px;
      z-index: 1;

      @include phone {
        position: initial;
        padding: 10px 0;

        span {
          margin-bottom: 10px;
          padding-left: 0;
        }
      }

      span {
        color: $secondary-color;
        display: block;
        font-family: $second-font;
        font-size: 28px;
        margin-bottom: 40px;
        padding-left: 15px;
      }

      &:before {
        background: $secondary-color;
        content: "";
        height: 2px;
        left: -50px;
        position: absolute;
        top: -20px;
        transform: rotate(-25deg);
        width: 100px;
      }
    }

    .slider-nav {
      padding: 35px;

      @include phone {
        padding: 0;
      }
    }

    .slider-for {
      @include phone {
        display: none;
      }
    }

    // DOTS
    .slick-dots {
      display: block !important;
      list-style: none;
      margin-top: 30px;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 8px;
      }

      .slick-active {
        button {
          background: $primary-color;
        }
      }

      button {
        background: #ffffff;
        border: none;
        font-size: 0;
        height: 3px;
        padding: 0;
        width: 50px;
      }
    }
  }

  section.advantages {
    padding: 100px 0 size(50);
    background: linear-gradient(
      to top left,
      #eceef0 0%,
      #eceef0 50%,
      #333e54 50%,
      #333e54 100%
    );

    .container {
      max-width: size(1000, 14);
    }

    h2 {
      color: $secondary-color;
      font-size: 34px;
    }

    .text {
      color: #fff;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 55px;
      max-width: 55%;

      @include phone {
        max-width: 100%;
      }
    }

    .content {
      align-items: stretch;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: size(70);

      @include phone {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }

    .box {
      background: #fff;
      box-shadow: 0px 50px 35px -25px rgba(0, 0, 0, 0.2);
      height: size(400, 14);
      padding: 30px 18px;
      text-align: center;

      &__image {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 115px;
        margin-bottom: 15px;
        width: 100%;
      }

      h3 {
        color: $secondary-color;
        font-size: size(36);
        margin-bottom: 15px;
      }

      p {
        color: $text;
        font-size: size(18);
      }
    }

    .button {
      background: #19254f;
      border: 0;
      border-radius: 50px;
      color: #fff;
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
      margin: size(50) auto 0;
      padding: 20px 40px;
      text-transform: uppercase;
    }
  }

  section.marcas {
    padding: 100px 0;

    @include phone {
      padding: 30px 0;
    }

    .container {
      max-width: 85%;
    }

    .content {
      align-items: center;
      display: flex;
      justify-content: space-around;

      @include phone {
        flex-direction: column;

        div {
          margin: 10px 0;
        }
      }
    }
  }

  section.depoiments {
    .container {
      padding: 0;
    }

    .content {
      align-items: center;
      display: grid;
      grid-template-columns: 50% 50%;
      height: 100%;

      @include phone {
        grid-template-columns: 100%;
      }
    }

    .slider-nav {
      img {
        width: 100%;
      }
    }

    .slider-for {
      align-items: center;
      align-self: stretch;
      background: #eceef0;
      display: flex;
      margin-top: 7%;

      @include phone {
        margin-top: 0;
        padding: 15px 0 30px;
      }
    }

    .depoiments__item {
      padding: 0 50px;

      @include phone {
        padding: 0 20px;
      }

      p {
        color: #858a8f;
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 20px;

        @include phone {
          font-size: 18px;
        }
      }

      h3 {
        color: $secondary-color;
        font-size: 14px;
        margin-bottom: 10px;
      }

      h4 {
        color: $primary-color;
        font-size: 15px;
      }
    }
  }

  section.transports {
    .container {
      padding: 0;
    }

    .content {
      align-items: center;
      display: grid;
      grid-template-columns: 50% 50%;
      height: 100%;

      @include phone {
        grid-template-columns: 100%;
      }
    }

    .slider-for {
      @include phone {
        display: none;
      }
      img {
        width: 100%;
      }
    }

    .slider-nav {
      align-items: center;
      align-self: stretch;
      background: rgba(25, 37, 79, 0.3) url("./images/transports/bg-v2.png")
        center left no-repeat;
      background-size: cover;
      display: flex;
      flex-flow: wrap-reverse;
    }

    .transports__item {
      padding: 0 15%;

      @include phone {
        padding: 10px;
      }

      p {
        color: #babdc3;
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 50px;
      }

      h3 {
        color: $secondary-color;
        font-family: $second-font;
        font-size: 44px;
        font-weight: 500;
        margin-bottom: 30px;
      }

      button {
        background: $secondary-color;
        border: 0;
        border-radius: 50px;
        color: $primary-color;
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 40px;
        text-transform: uppercase;
      }
    }

    .slick-dots {
      align-items: center;
      border-bottom: 1px solid #535a67;
      display: flex !important;
      flex-direction: row;
      margin-left: 15%;
      width: 100%;

      @include phone {
        margin-left: 0;
      }

      li {
        position: relative;
      }

      .slick-active {
        button {
          color: $secondary-color;
        }

        &:before {
          background: $secondary-color;
          bottom: -1px;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

      button {
        background: transparent;
        border: none;
        color: #535a67;
        padding: 15px;
      }
    }
  }

  section.blog {
    .container {
      max-width: 85%;

      @include phone {
        max-width: 100%;
      }
    }

    .blog {
      &__top {
        h2 {
          width: 30%;
        }
      }
    }
  }
}
