@charset 'UTF-8';

header {
  padding: size(15) 0;
  position: fixed;
  transition: background 0.3s ease-in-out;
  width: 100%;
  z-index: 10;

  &:not(.fixed) {
    @include widescreen {
      padding-top: 45px;
    }
  }

  &.fixed {
    background: #fff;

    .logo__black {
      display: none;
    }

    .logo__fixed {
      display: block;
    }
  }

  .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: size(200);

    @include phone {
      width: size(100);
    }

    img {
      width: 100%;
    }

    &__white,
    &__fixed {
      display: none;
    }
  }

  nav {
    ul {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 size(25);

      &:last-child {
        margin: 0;
      }
    }

    a {
      color: $primary-color;
      font-size: size(18);

      @include widescreen {
        font-size: 22px;
      }

      &.feature {
        background: $primary-color;
        border-radius: 50px;
        color: #fff !important;
        display: block;
        font-size: size(18);
        font-weight: bold;
        line-height: size(18);
        padding: size(10) size(25);
        text-transform: uppercase;

        @include widescreen {
          font-size: 22px;
          padding: 12px 40px;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }

    @include phone {
      background: #fff;
      height: 100%;
      padding: 25% 0;
      position: fixed;
      right: -100%;
      top: 0;
      transition: all 0.3s ease-in-out;
      width: 100%;

      ul {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }

  .menu {
    display: none;

    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 10px;

    span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition: background-color 0s ease 0.2s;
      // transition-property: background-color;
      // transition-duration: 0s;
      // transition-delay: 0.2s;

      &,
      &:before,
      &:after {
        width: 30px;
        height: 6px;
        background-color: $primary-color;
        display: block;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
      }

      &:before {
        margin-top: -12px;
        transition: margin 0.2s ease 0.2s, transform 0.2s ease;
        // transition-property: margin, transform;
        // transition-duration: 0.2s;
        // transition-delay: 0.2s, 0s;
      }
      &:after {
        margin-top: 12px;
        transition: margin 0.2s ease 0.2s, transform 0.2s ease;
        // transition-property: margin, transform;
        // transition-duration: 0.2s;
        // transition-delay: 0.2s, 0s;
      }
    }

    @include phone {
      display: inline-block;
    }
  }

  &.open {
    nav {
      right: 0;

      a:not(.feature) {
        color: $primary-color !important;
      }
    }

    .menu {
      span {
        background-color: rgba(0, 0, 0, 0);
        transition-delay: 0.2s;

        &:before {
          margin-top: 0;
          // transition-delay: 0s, 0.2s;
          transition: margin 0.2s ease 0s, transform 0.2s ease 0.2s;
          transform: rotate(45deg);
        }

        &:after {
          margin-top: 0;
          transition: margin 0.2s ease 0s, transform 0.2s ease 0.2s;
          // transition-delay: 0s, 0.2s;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
