@charset 'UTF-8';

.related-widget {
  &__header {
    background: #eceef0;
    padding: 30px 15px 60px;

    p {
      border-bottom: 2px solid #c8c8c8;
      display: inline;
      padding-bottom: 5px;
      span {
        color: $secondary-color;
      }
    }
  }

  &__item {
    position: relative;

    img {
      width: 100%;
    }

    .date {
      background: #2ea6d0;
      color: #fff;
      display: block;
      margin-bottom: 20px;
      margin-left: 35px;
      margin-top: -18px;
      padding: 5px 10px;
      text-transform: uppercase;
      position: relative;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }

    h2 {
      color: $secondary-color;
      font-family: $second-font;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 40px;
    }
  }
}
