body {
  font-family: "Trebuchet MS";
  font-size: 30px;
}
@media (max-width: 2560px) {
  body {
    font-size: 28px;
  }
}
@media (max-width: 2240px) {
  body {
    font-size: 24.5px;
  }
}
@media (max-width: 1920px) {
  body {
    font-size: 21px;
  }
}
@media (max-width: 1700px) {
  body {
    font-size: 17.5px;
  }
}
@media (max-width: 1466px) {
  body {
    font-size: 14.5px;
  }
}
@media (max-width: 1280px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 10px;
  }
}

/*HEADER*/
header {
  padding: 0;
}
header:not(.fixed) {
  padding-top: 1em;
}
header .logo {
  padding: 1em 0;
  width: 15.5em;
}
header nav {
  padding: 0 3.875em;
}
header nav li {
  margin: 0 1.5em;
}
header nav a {
  font-size: 1.2em;
}
header nav a.feature,
header nav li:last-child a {
  font-size: 1em;
  padding: 0.7em 1.4em;
  letter-spacing: 0.2em;
  line-height: 1.2em;
}
.box__social img {
  width: 70%;
}
/*HEADER*/
.container {
  max-width: 2800px;
  padding: 0 4em;
}
.home .box__social {
  top: 4.8% !important;
}
.page-template-our-vision main .box__social,
.page-template-our-solution main .box__social {
  top: 3.8% !important;
}
.page-template-pricing main .box__social,
.page-template-resources main .box__social,
.single-post main .box__social {
  top: 3.5% !important;
}
/*FEATURE*/
.home section.feature {
  background: linear-gradient(
      to right,
      rgb(46, 166, 208) 50%,
      rgb(241, 241, 243) 50%
    )
    0% 0% / 200% 100%;
  transition: all 1s ease 0s;
  height: 42.85714em;
}
.home section.feature .container {
  padding: 0 4em 0 6em;
}
.home section.feature .content {
  grid-template-columns: 39% 61%;
}
.home section.feature .slider-nav {
  padding-bottom: 2em;
}
.home section.feature .slider-nav h2 {
  line-height: 1.2em;
  font-size: 2.4em;
  margin-bottom: 1em;
  font-family: "Trebuchet MS";
}
.home section.feature .slider-nav p {
  font-size: 1.2em;
  line-height: 1.7em;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
  font-family: "Trebuchet MS";
}
.home section.feature .slick-dots {
  margin-top: 2em;
}
.home section.feature .slider-nav button {
  letter-spacing: 0.2em;
}
.home section.feature .slider-nav .slick-slide button {
  font-size: 1em;
  margin-bottom: 0;
  padding: 0.7em 1.4em;
}
.home section.feature .slider-for {
  max-height: 41.875em;
  margin: 0 auto 2em;
  padding-top: 0.22em;
}
.home section.feature .slider-for > div {
  max-height: 41.875em;
}
.home section.feature .slider-mask {
  margin-left: 0;
}
/*FEATURE*/

/*VIDEOS*/
.home section.videos {
  background: #343f53;
}
.home section.videos .container {
  padding-right: 1em;
}
.home section.videos .content {
  grid-template-columns: 68% 32%;
}
.home section.videos .videos__text {
  width: 18em;
  font-size: 1.2em;
  right: 5em;
  top: 5em;
  line-height: 1.8em;
  font-family: "Trebuchet MS";
}
.home section.videos .videos__text:before {
  height: 0.1em;
  left: -2em;
  top: -2em;
  width: 6em;
}
.home section.videos .videos__text span {
  font-size: 3em;
  margin-bottom: 0.8em;
  padding-left: 0.2em;
  font-family: "Trebuchet MS";
}
.home section.videos .content .slider-for.slick-initialized .slick-slide {
  margin: 0 0.3em;
}
.home section.videos .content .slider-for.slick-initialized .slick-current {
  display: none;
}
.home section.howwedoit .item {
  background: #eceef0 url("images/browser.png") no-repeat;
  background-size: contain;
  border-radius: 4px 4px 0 0;
}
.home section.howwedoit .slick-slide:nth-child(odd) .item {
  background: #212a3d url("images/browser.png") no-repeat;
  background-size: contain;
}
/*VIDEOS*/

/*ADVANTAGES*/
.home section.advantages .bg:before {
  background: #343f53 url(./images/BG_teia_home.jpg) center 130% no-repeat;
}
.home section.advantages .container {
  max-width: 79em;
}
.home section.advantages .content {
  grid-gap: 6em;
}
.home section.advantages h2 {
  font-size: 2.5em;
  font-family: "Trebuchet MS";
}
.home section.advantages .text {
  font-size: 1.1em;
  line-height: 2em;
  margin-bottom: 3em;
  margin-top: 0.5em;
  max-width: 50%;
  font-family: "Trebuchet MS";
}
.home section.advantages .box {
  padding: 2em 2.2em;
  height: 25em;
}
.home section.advantages .box__image {
  height: 5em;
  margin: 1em 0 2em 0;
}
.home section.advantages .box h3 {
  font-size: 2em;
  font-family: "Trebuchet MS";
}
.home section.advantages .box p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Trebuchet MS";
}
.home section.advantages .button {
  border-radius: 2em;
  font-size: 0.9em;
  line-height: 1em;
  margin: 5em auto 0;
  padding: 0.9em 2em;
  letter-spacing: 0.2em;
  font-family: "Trebuchet MS";
}
/*ADVANTAGES*/

/*HOW WE DO IT*/
.home section.howwedoit .intro {
  padding: 0;
  margin-bottom: 1em;
  font-family: "Keep Calm Med";
}
.home section.howwedoit .intro img {
  margin-bottom: 1em;
  width: 5%;
}
.home section.howwedoit .intro p {
  font-size: 0.9em;
  line-height: 2em;
  margin-top: 1em;
  max-width: 45%;
}
.home section.howwedoit .item {
  padding: 6% 0 13%;
}
.home section.howwedoit .item h4 {
  font-family: "Trebuchet MS";
  font-size: 4em;
}
.home section.howwedoit .item h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.home section.howwedoit .item p,
.home section.howwedoit .item small {
  font-size: 0.9em;
  line-height: 1.5em;
}
.home section.howwedoit .item > div {
  flex-basis: 43%;
}
.home section.howwedoit .item__text {
  padding: 0 3em;
  flex-basis: 57% !important;
}
.home section.howwedoit .item > div:not(.item__text) {
  padding-right: 10%;
}
.home section.howwedoit div.slick-current {
  margin-left: -3.2em;
}
.home section.howwedoit div.slick-current:first-child {
  margin-left: 0;
}
/*HOW WE DO IT*/

/*DEPOIMENTS*/
.home section.depoiments .depoiments__item {
  padding: 0 4.5em 0 2.5em;
}
.home section.depoiments .depoiments__item p {
  font-size: 1.6em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
}
.home section.depoiments .depoiments__item h3 {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.home section.depoiments .depoiments__item h4 {
  font-size: 1.1em;
}
/*DEPOIMENTS*/

/*TRANSPORTS*/
.home section.transports .slick-dots button {
  font-size: 1.2em;
  padding: 0.6em 1.2em;
}
.home section.transports .transports__item {
  padding: 0 7em;
}
.home section.transports .transports__item h3 {
  font-size: 3em;
  line-height: 1.5em;
}
.home section.transports .transports__item p {
  font-size: 1.2em;
  line-height: 1.6em;
}
.home section.transports .transports__item button {
  border-radius: 2em;
  font-size: 1em;
  letter-spacing: 0.2em;
  padding: 0.6em 2.5em;
}
/*TRANSPORTS*/

/*BLOG*/
.home section.blog {
  margin-top: -0.4em;
  background-color: #fff;
  position: relative;
  padding: 5em 0;
}
.home section.blog .blog__top h2 {
  font-size: 2em;
}
.home section.blog .blog__tabs a {
  padding: 1em 1.5em;
  font-size: 1.2em;
}
.home section.blog .blog__post:first-child {
  padding-left: 0;
}
.home section.blog .blog__post:nth-child(3n + 1) {
  max-width: 30em;
}
.home section.blog .blog__post div {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: -1.2em;
  padding: 0.5em 1em;
  text-transform: none;
  font-size: 0.9em;
}
.home section.blog .blog__post h3 {
  font-size: 1.3em;
  margin-bottom: 1em;
}
.home section.blog .blog__post p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.home section.blog .blog__content {
  max-height: 50em;
  height: auto;
}
.home section.blog .blog__mask:before {
  content: none;
  width: 30%;
  /* background: linear-gradient(90deg, rgba(255,255,255,0.5), rgba(255,255,255,1)); */
  background: rgba(255, 255, 255, 0.5);
}
.home section.blog .blog__content.active {
  grid-gap: 3.7rem;
  padding: 4em 0;
}
.home section.blog .blog__post span.post_home {
  width: 78%;
  position: relative;
  float: left;
  margin-left: 11%;
}
/*BLOG*/

/*CONTACT*/
.contact-form {
  padding: 5em 0 1em 0;
}
.contact-form .container {
  max-width: 55%;
}
.contact-form h3 {
  font-size: 2.4em;
  margin-bottom: 1em;
}
.contact-form p {
  margin-bottom: 0;
}
.contact-form input:not([type="submit"]),
.contact-form textarea {
  font-size: 1.2em;
  padding: 1em 0;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom: 2px solid #2ea6d0;
}
.contact-form input[type="submit"] {
  border-radius: 2em;
  font-size: 0.9em;
  padding: 1em 3.3em;
  letter-spacing: 0.1em;
}
/*CONTACT*/

/*FOOTER*/
.address {
  height: 19em;
  background-size: 30em;
}
.address .content p {
  font-size: 1em;
}
/*FOOTER*/

/*OUR VISION*/
.page-template-our-vision main .box__social {
  top: 8%;
}
.page-template-our-vision main .image__plx .blue {
  width: 32%;
  height: 31%;
}
.page-template-our-vision main .image__plx .dark {
  background-size: 62%;
  background-position: -50px 11rem;
}
.page-template-our-vision main .image__plx .white {
  height: 77%;
  width: 110%;
}
.page-template-our-vision section#content .box__brand {
  height: 88vh;
}
.page-template-our-vision section#content h1 {
  font-size: 4em;
}
.page-template-our-vision section#content .box__text {
  font-size: 1.3em;
}
.page-template-our-vision section#content .detalhes {
  max-width: 82%;
  margin: 0 auto;
}
.page-template-our-vision section#content .box__infos {
  margin-left: 5em;
  width: 50%;
}
.page-template-our-vision section#content .box__title {
  font-size: 2em;
}
.page-template-our-vision section#content .box__description {
  font-size: 1.2em;
  word-break: break-word;
  line-height: 1.8em;
  margin-top: 2em;
}
.page-template-our-vision section#content .box__detail {
  margin-bottom: 5em;
}
.page-template-our-vision section#content .box__image {
  background-color: transparent;
  width: 50%;
  height: auto;
}
.page-template-our-vision section#content .box__image img {
  width: 100%;
}
.page-template-our-vision section#info .info {
  padding: 2em 2.5em;
  font-size: 2.2em;
  line-height: 1.8em;
}
.page-template-our-vision section#why .reason img {
  width: 3%;
  margin-bottom: 2em;
}
.page-template-our-vision section#why .reason__title {
  font-size: 2.5em;
  margin: 0.5em auto 1em auto;
}
.page-template-our-vision section#why .reason__description {
  font-size: 1.1em;
  margin: 1em 0 3em 0;
}
.page-template-our-vision section#why .card {
  background-color: #fff;
  padding: 1em 2.5em;
}
.page-template-our-vision section#why .card:hover {
  border: 2px solid #fff;
}
.page-template-our-vision section#why .card__icon {
  height: 8em;
  margin: 0 0 1em 0;
}
.page-template-our-vision section#why .card__icon img {
  width: 30%;
}
.page-template-our-vision section#why .card__title {
  font-size: 2em;
  font-family: "Trebuchet MS";
  padding-bottom: 0.3em;
}
.page-template-our-vision section#why .card__description {
  line-height: 2em;
  font-size: 1em;
  font-family: "Trebuchet MS";
  margin-bottom: 2em;
}
/*OUR VISION*/

/*OUR SOLUTION*/
.page-template-our-solution main .box__social {
  top: 8%;
}
.page-template-our-solution main .image__plx .blue {
  width: 32%;
  height: 32%;
}
.page-template-our-solution main .image__plx .dark {
  background-size: 100%;
}
.page-template-our-solution main .image__plx .white {
  width: 110%;
  height: 76%;
}
.page-template-our-solution section#content h1 {
  font-size: 4em;
  margin-top: 3em;
}
.page-template-our-solution section#content .box__text {
  font-size: 1.3em;
}
.page-template-our-solution section#content .box__brand {
  height: 80vh;
}
.page-template-our-solution #option .grafico {
  height: 418px;
  margin-right: 3em;
  position: relative;
  background: url(./images/our-solution/grafic.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.page-template-our-solution #option .grafico .cor {
  height: 0px;
  right: 7.3%;
  width: 10.8%;
  bottom: 0px;
  background-color: #2da6d0;
  position: absolute;
}
.page-template-our-solution #option .option__box {
  margin-bottom: 4em;
}
.page-template-our-solution #option .option__box .title {
  font-size: 2.3em;
  font-family: "Trebuchet MS";
}
.page-template-our-solution #option .option {
  width: 46em;
}
.page-template-our-solution #option .option__img {
  max-width: 8em;
  margin-right: 1rem;
}
.page-template-our-solution #option .option__image {
  width: 6em;
}
.page-template-our-solution #option {
  padding-left: 0;
  padding-bottom: 3em;
}
.page-template-our-solution #option .image {
  padding-right: 3em;
}
.page-template-our-solution section#why {
  padding: 6em 0;
}
.page-template-our-solution #why.content .reason__title {
  font-size: 2.6em;
}
.page-template-our-solution #why.content .reason__description {
  margin: 1em 0 3em 0;
  font-size: 1.4em;
}
.page-template-our-solution #why.content .card__description {
  font-size: 0.9rem;
  line-height: 2em;
}
.page-template-our-solution #why.content .card__number {
  font-size: 6em;
  margin-bottom: 0.3em;
}
.page-template-our-solution #why.content .card {
  padding: 2em 1.5em 3em 1.5em;
}
.page-template-our-solution #why.content .card:hover {
  border: 2px solid transparent;
}
/*OUR SOLUTION*/

/*PRICING*/
.page-template-pricing main .box__social {
  display: -webkit-box;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 8%;
  z-index: 9999;
}
.page-template-pricing main .box__social a {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page-template-pricing section.feature .container {
  max-width: 93%;
}
.page-template-pricing section.feature .content {
  grid-template-columns: 45% 55%;
}
.page-template-pricing main .image__plx {
  height: 130vh;
}
.page-template-pricing main .image__plx .blue {
  width: 32%;
  height: 30%;
}
.page-template-pricing main .image__plx .white {
  width: 120%;
  height: 79%;
}
.page-template-pricing section.feature .slider-nav h2 {
  font-size: 3.5em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
.page-template-pricing section.feature .slider-nav p {
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 0;
  letter-spacing: 0.05em;
}
.page-template-pricing section.feature .slider-for {
  margin: 0 auto 2em;
}
.page-template-pricing .contact-form {
  padding: 0;
  margin-top: 0;
}
.page-template-pricing .contact-form .slide {
  padding-top: 2em;
}
.page-template-pricing .contact-form .slide__header {
  padding-bottom: 2em;
}
.page-template-pricing .contact-form .slide__header span {
  font-size: 1.2em;
}
.page-template-pricing
  .contact-form
  .slide__content
  .wpcf7-form-control.wpcf7-radio {
  padding: 2em 3em 3em 3em;
}
.page-template-pricing .contact-form p:first-child {
  margin-top: 5em;
}
.page-template-pricing .contact-form .container .policy p {
  margin: 2em auto 0 auto;
  text-align: center;
  color: gray;
  font-size: 1.3em;
}
.page-template-pricing .contact-form .container .policy p a {
  color: #2ea6d0;
  text-decoration: underline;
}
.page-template-pricing .bg-wrap {
  padding-top: 4em;
  padding-bottom: 2em;
}
/*PRICING*/

/*BLOG*/
.page-template-resources main .box__social {
  display: -webkit-box;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 8%;
  z-index: 9999;
}
.page-template-resources main .box__social a {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page-template-resources main .image__plx {
  height: 130vh;
}
.page-template-resources main .image__plx .blue {
  width: 32%;
  height: 30%;
}
.page-template-resources main .image__plx .dark {
  background: transparent url(./images/BG_pricing.jpg) bottom left no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-template-resources main .image__plx .white {
  width: 120%;
  height: 79%;
}
.page-template-resources section.welcome {
  padding-top: 5em;
  height: 69vh;
  max-height: 45em;
}
.page-template-resources section.welcome .content {
  padding: 0 2em 3.5em 2em;
  width: 65%;
}
.page-template-resources section.welcome h2 {
  font-size: 3.5em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
}
.page-template-resources section.welcome p {
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 0;
  letter-spacing: 0.05em;
  margin-right: -1.5em;
}
.page-template-resources section.welcome form {
  margin-top: 2.5em;
  padding-bottom: 0.7em;
  width: 74%;
}
.page-template-resources .blog {
  padding: 0 0 5em 0;
}
.page-template-resources .blog .blog__top {
  padding: 0 2em 3.5em 2em;
}
.page-template-resources .blog .blog__top h2 {
  font-size: 2em;
  width: 25%;
}
.page-template-resources .blog .blog__tabs a {
  padding: 1em 1.5em;
}
.page-template-resources .blog .blog__post {
  padding: 2em;
}
.page-template-resources .blog .blog__post div {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: -1.2em;
  padding: 0.5em 1em;
  text-transform: none;
  font-size: 0.9em;
}
.page-template-resources .blog .blog__post h3 {
  font-size: 1.3em;
  margin-bottom: 1em;
}
.page-template-resources .blog .blog__post p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.page-template-resources .blog .blog__post a {
  text-decoration: none;
}
.page-template-resources section.welcome form input[type="submit"] {
  font-size: 0.8em;
  padding: 0.7em 2.5em;
  letter-spacing: 0.1em;
  width: 85%;
}

.single main:before,
.single main:after {
  content: none;
}
.single-post main .image__plx {
  background-color: transparent;
  height: 130vh;
  position: absolute;
  width: 100%;
}
.single-post main .box__social {
  display: -webkit-box;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 8%;
  z-index: 9999;
}
.single-post main .box__social a {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.single-post main .image__plx .blue {
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(transparent),
    color-stop(50%, transparent),
    color-stop(50%, #2ea6d0),
    to(#2ea6d0)
  );
  background: linear-gradient(
    to top right,
    transparent 0%,
    transparent 50%,
    #2ea6d0 50%,
    #2ea6d0 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  width: 32%;
  height: 30%;
  z-index: 2;
}
.single-post main .image__plx .dark {
  background: transparent url(./images/BG_pricing.jpg) bottom left no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single-post main .image__plx .white {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(transparent),
    color-stop(50%, transparent),
    color-stop(50%, #fff),
    to(#fff)
  );
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #fff 50%,
    #fff 100%
  );
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120%;
  height: 79%;
  z-index: 1;
}
.single-post section.welcome {
  padding-top: 5em;
  height: 69vh;
  max-height: 45em;
}
.single-post section.welcome .content {
  padding: 0 2em 3.5em 2em;
  width: 65%;
}
.single-post section.welcome h2 {
  font-size: 3.5em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
}
.single-post section.welcome p {
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 0;
  letter-spacing: 0.05em;
  margin-right: -1.5em;
}
.single-post section.welcome form {
  margin-top: 2.5em;
  padding-bottom: 0.7em;
  width: 74%;
}
.single-post section.welcome form input[type="submit"] {
  font-size: 0.8em;
  padding: 0.7em 2.5em;
  letter-spacing: 0.1em;
  width: 85%;
}
.single-post .post .conteudo {
  padding: 0 2em 0 2em;
}
.single .post .intro {
  font-size: 1em;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.single-post .post .conteudo__top h2 {
  font-size: 2em;
  width: 35%;
}
.single-post .post .blog__tabs {
  border-bottom: 1px solid #e0e1e2;
  text-align: right;
  width: 100%;
}
.page-template-resources section.blog .blog__post {
  max-width: 33.33%;
}
.page-template-resources section.blog .blog__post span.post_home {
  width: 78%;
  position: relative;
  float: left;
  margin-left: 11%;
}
/*BLOG*/

@media (max-width: 1919px) {
  .home section.advantages .bg:before {
    background: #343f53 url(./images/BG_teia_home.jpg) center 80% no-repeat;
  }
  .page-template-our-solution #option .grafico {
    margin-top: -20em;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 1em 0;
  }
  header nav ul {
    height: 50%;
    margin-top: 3em;
  }
  header.open nav li:last-child a {
    color: #fff !important;
  }
  .home section.feature {
    height: 100%;
  }
  .home section.feature .container {
    padding: 0 3em;
  }
  .home section.feature .content {
    grid-template-columns: 100%;
  }
  .home section.feature .slider-mask {
    display: none;
  }
  .home section.videos .container {
    padding: 0 3em;
  }
  .home section.videos .videos__text {
    width: 100%;
    right: 0;
  }
  .home section.videos .content {
    grid-template-columns: 100%;
  }
  .home section.advantages .text {
    max-width: 100%;
  }
  .home section.advantages .box__image {
    height: auto;
  }
  .home section.advantages .box {
    height: 27em;
  }
  .home section.howwedoit .item > div {
    flex-basis: 100% !important;
    height: 24em;
  }
  .home section.howwedoit div.slick-current {
    margin-left: 0;
  }
  /* .home section.depoiments .slider-nav img {
    display: none;
  } */
  .home section.depoiments .depoiments__item {
    padding: 4.5em;
  }
  .home section.depoiments .depoiments__item h4 {
    margin-bottom: 1em;
  }
  .home section.transports .slick-dots {
    margin: 0 1em;
  }
  .home section.transports .transports__item {
    padding: 3em;
  }
  .home section.blog .container {
    padding: 0 3em;
  }
  .home section.blog .blog__mask:before {
    display: none;
  }
  .home section.blog .blog__post {
    max-width: 20em;
    width: 20em;
    padding: 1em;
  }
  .home section.blog .blog__content.active {
    grid-gap: 0.7rem;
  }
  .home section.blog .blog__post:nth-child(3n + 1) {
    max-width: 20em;
  }
  .home section.blog .blog__post:first-child {
    padding-left: inherit;
  }
  .home section.blog .blog__tabs a {
    padding: 1em 1em;
  }
  .contact-form .container {
    max-width: 85%;
  }
  .page-template-our-vision main .image__plx {
    height: 50vh;
  }
  .page-template-our-vision main .image__plx .dark {
    background-size: 130%;
    background-position: -60px 6rem;
  }
  .page-template-our-vision section#content .box__text {
    line-height: 2em;
  }
  .page-template-our-vision section#content .box__brand {
    height: 53vh;
  }
  .page-template-our-vision section#content h1 {
    margin: 0.5em auto;
  }
  .page-template-our-vision section#content .box__text br {
    display: none;
  }
  .page-template-our-vision section#content .detalhes {
    max-width: 100%;
  }
  .page-template-our-vision section#content .box__image,
  .page-template-our-vision section#content .box__infos {
    width: 100%;
  }
  .page-template-our-vision section#content .box__infos {
    margin-left: 0;
  }
  .page-template-our-vision section#content .box__description {
    margin: 1em;
  }
  .page-template-our-vision section#info .info {
    font-size: 1.5em;
  }
  .page-template-our-vision section#info .info strong {
    font-size: 1.2em;
  }
  .page-template-our-vision section#why .card__title br {
    display: none;
  }
  .page-template-our-vision section#why .reason img {
    width: 10%;
  }
  .page-template-our-solution main .image__plx .dark {
    background-size: cover;
    height: 88%;
  }
  .page-template-our-solution section#content h1 {
    margin-top: 0;
  }
  .page-template-our-solution section#content .box__brand {
    height: 95vh;
  }
  .page-template-our-solution section#content .box__text br {
    display: none;
  }
  .page-template-our-solution #option .option {
    width: 37em;
  }
  .page-template-our-solution #option .option__img {
    margin: 0 auto;
  }
  .page-template-our-solution #option .grafico {
    display: none;
  }
  .page-template-our-solution #why.content .reason__description {
    padding: 0;
  }
  .page-template-pricing main .image__plx {
    height: 100vh;
  }
  .page-template-pricing main .image__plx .dark {
    background-size: cover;
  }
  .page-template-pricing main .box__social {
    display: none;
  }
  .page-template-pricing section.feature .content {
    grid-template-columns: 100%;
  }
  .page-template-pricing section.feature .slider-nav h2 {
    margin-top: 2em;
  }
  .page-template-resources main .image__plx .dark {
    background-size: cover;
  }
  .page-template-resources main .box__social {
    display: none;
  }
  .page-template-resources main .image__plx {
    height: 65vh;
  }
  .page-template-resources section.welcome .content {
    padding: 0;
    width: 100%;
  }
  .page-template-resources .blog .blog__top {
    padding: 0 1em 1.5em 1em;
  }
  .page-template-resources section.blog .blog__top h2 {
    font-size: 1.3em;
    width: 50%;
  }
  .page-template-resources .blog .blog__tabs a {
    padding: 1em 0.5em;
  }
  .page-template-resources section.blog .blog__post {
    max-width: 100%;
  }
  section.blog .blog__tabs {
    width: auto;
  }
  .single .post .block-left .wp-block-media-text__content {
    padding: 1em 0 !important;
  }
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right
    .wp-block-media-text__media {
    padding: 1em 0 !important;
  }
  .single-post main .image__plx .dark {
    background-size: cover;
  }
  .single-post main .box__social {
    display: none;
  }
  .single-post main .image__plx {
    height: 65vh;
  }
  .single-post main .image__plx .blue,
  .single-post main .image__plx .white {
    display: none;
  }
  .single-post section.welcome .content {
    padding: 0;
    width: 100%;
  }
  .single-post .blog .blog__top {
    padding: 0 1em 1.5em 1em;
  }
  .single-post section.blog .blog__top h2 {
    font-size: 1.3em;
    width: 50%;
  }
  .single-post .blog .blog__tabs a {
    padding: 1em 0.5em;
  }
  .single-post .post .conteudo__top h2 {
    width: 120%;
  }
}
