@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/TrebuchetMS-Bold.eot");
  src: local("Trebuchet MS Bold"), local("TrebuchetMS-Bold"), url("fonts/TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("fonts/TrebuchetMS-Bold.woff") format("woff"), url("fonts/TrebuchetMS-Bold.ttf") format("truetype"), url("fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/TrebuchetMS-Italic.eot");
  src: local("Trebuchet MS Italic"), local("TrebuchetMS-Italic"), url("fonts/TrebuchetMS-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Italic.woff2") format("woff2"), url("fonts/TrebuchetMS-Italic.woff") format("woff"), url("fonts/TrebuchetMS-Italic.ttf") format("truetype"), url("fonts/TrebuchetMS-Italic.svg#TrebuchetMS-Italic") format("svg"); }

@font-face {
  font-family: "Keep Calm Med";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/KeepCalm-Medium.eot");
  src: local("Keep Calm Medium"), local("KeepCalm-Medium"), url("fonts/KeepCalm-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/KeepCalm-Medium.woff2") format("woff2"), url("fonts/KeepCalm-Medium.woff") format("woff"), url("fonts/KeepCalm-Medium.ttf") format("truetype"), url("fonts/KeepCalm-Medium.svg#KeepCalm-Medium") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/TrebuchetMS.eot");
  src: local("Trebuchet MS"), local("TrebuchetMS"), url("fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS.woff2") format("woff2"), url("fonts/TrebuchetMS.woff") format("woff"), url("fonts/TrebuchetMS.ttf") format("truetype"), url("fonts/TrebuchetMS.svg#TrebuchetMS") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/Trebuchet-BoldItalic.eot");
  src: local("Trebuchet MS Bold Italic"), local("Trebuchet-BoldItalic"), url("fonts/Trebuchet-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Trebuchet-BoldItalic.woff2") format("woff2"), url("fonts/Trebuchet-BoldItalic.woff") format("woff"), url("fonts/Trebuchet-BoldItalic.ttf") format("truetype"), url("fonts/Trebuchet-BoldItalic.svg#Trebuchet-BoldItalic") format("svg"); }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/TrebuchetMS-Bold.eot");
  src: local("Trebuchet MS Bold"), local("TrebuchetMS-Bold"), url("fonts/TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("fonts/TrebuchetMS-Bold.woff") format("woff"), url("fonts/TrebuchetMS-Bold.ttf") format("truetype"), url("fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/TrebuchetMS-Italic.eot");
  src: local("Trebuchet MS Italic"), local("TrebuchetMS-Italic"), url("fonts/TrebuchetMS-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Italic.woff2") format("woff2"), url("fonts/TrebuchetMS-Italic.woff") format("woff"), url("fonts/TrebuchetMS-Italic.ttf") format("truetype"), url("fonts/TrebuchetMS-Italic.svg#TrebuchetMS-Italic") format("svg"); }

@font-face {
  font-family: "Keep Calm Med";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/KeepCalm-Medium.eot");
  src: local("Keep Calm Medium"), local("KeepCalm-Medium"), url("fonts/KeepCalm-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/KeepCalm-Medium.woff2") format("woff2"), url("fonts/KeepCalm-Medium.woff") format("woff"), url("fonts/KeepCalm-Medium.ttf") format("truetype"), url("fonts/KeepCalm-Medium.svg#KeepCalm-Medium") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/TrebuchetMS.eot");
  src: local("Trebuchet MS"), local("TrebuchetMS"), url("fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS.woff2") format("woff2"), url("fonts/TrebuchetMS.woff") format("woff"), url("fonts/TrebuchetMS.ttf") format("truetype"), url("fonts/TrebuchetMS.svg#TrebuchetMS") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/Trebuchet-BoldItalic.eot");
  src: local("Trebuchet MS Bold Italic"), local("Trebuchet-BoldItalic"), url("fonts/Trebuchet-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Trebuchet-BoldItalic.woff2") format("woff2"), url("fonts/Trebuchet-BoldItalic.woff") format("woff"), url("fonts/Trebuchet-BoldItalic.ttf") format("truetype"), url("fonts/Trebuchet-BoldItalic.svg#Trebuchet-BoldItalic") format("svg"); }

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0; }

*:focus {
  outline: 0; }

html,
body,
#root {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased; }

body,
input,
button {
  font: 14px "Trebuchet MS", "Helvetica Neue", Arial, sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

button {
  cursor: pointer; }

.container {
  margin: 0 auto;
  max-width: 1740px;
  padding: 0 10px;
  width: 100%; }

header {
  padding: 15px 0;
  position: fixed;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  width: 100%;
  z-index: 10; }
  header.fixed {
    background: #fff; }
  header .content {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  header .logo {
    width: 200px; }
  header nav ul {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  header nav li {
    margin: 0 25px; }
  header nav a {
    color: #19254f;
    font-size: 18px; }
    header nav a.feature {
      background: #19254f;
      border-radius: 50px;
      color: #fff;
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
      padding: 20px 40px;
      text-transform: uppercase; }
    header nav a:hover {
      text-decoration: underline; }

.address {
  -webkit-box-align: center;
          align-items: center;
  background: #2ea6d0 url("images/mapa-bg.png") center center no-repeat;
  display: -webkit-box;
  -js-display: flex;
  display: flex;
  height: 417px; }
  .address .content {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    justify-content: space-around; }
    .address .content p {
      color: #fff;
      font-size: 16px;
      text-align: center; }

footer {
  padding: 100px 0; }
  footer .content {
    -webkit-box-align: center;
            align-items: center;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  footer .logo {
    width: 150px; }
  footer .text {
    color: #19254f; }
  footer .social {
    display: -webkit-box;
    -js-display: flex;
    display: flex; }
    footer .social a {
      margin: 0 10px; }
    footer .social img {
      width: 25px; }

section.blog {
  padding: 70px 0; }
  section.blog .blog__top {
    -webkit-box-align: end;
            align-items: flex-end;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    section.blog .blog__top h2 {
      color: #19254f;
      font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
      font-size: 28px;
      font-weight: 500;
      width: 20%; }
  section.blog .blog__tabs {
    border-bottom: 1px solid #e0e1e2;
    text-align: right;
    width: 100%; }
    section.blog .blog__tabs a {
      color: #858a8f;
      display: inline-block;
      padding: 15px;
      position: relative; }
      section.blog .blog__tabs a.active {
        color: #19254f; }
        section.blog .blog__tabs a.active:before {
          background: #19254f;
          bottom: -1px;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%; }
  section.blog .blog__mask {
    position: relative; }
    section.blog .blog__mask:before {
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.8)));
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      width: 35%;
      z-index: 1; }
  section.blog .blog__content {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 700px;
    flex-wrap: wrap;
    overflow-y: scroll; }
    section.blog .blog__content > div {
      align-self: flex-start; }
    section.blog .blog__content.active {
      display: -webkit-box;
      -js-display: flex;
      display: flex; }
  section.blog .blog__post {
    padding: 30px;
    position: relative;
    max-width: 360px; }
    section.blog .blog__post h3 {
      color: #2ea6d0;
      font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px; }
    section.blog .blog__post p {
      color: #858a8f;
      display: none;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px; }
    section.blog .blog__post a {
      color: #2ea6d0;
      display: none;
      text-decoration: underline;
      text-transform: lowercase; }
    section.blog .blog__post div {
      background: #2ea6d0;
      color: #fff;
      display: block;
      margin-bottom: 20px;
      margin-left: 35px;
      margin-top: -18px;
      padding: 5px 10px;
      text-transform: uppercase;
      position: relative;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
    section.blog .blog__post img {
      width: 100%; }
    section.blog .blog__post:nth-child(3n + 1) {
      max-width: 660px; }
      section.blog .blog__post:nth-child(3n + 1) p,
      section.blog .blog__post:nth-child(3n + 1) a {
        display: block; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.home section.feature {
  background: #2ea6d0;
  height: 100vh;
  max-height: 100%; }
  .home section.feature .container {
    height: 100%; }
  .home section.feature .content {
    -webkit-box-align: center;
            align-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%; }
  .home section.feature .slider-nav h2 {
    color: #19254f;
    font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
    font-size: 35px;
    line-height: 44px;
    margin-bottom: 20px; }
  .home section.feature .slider-nav p {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px; }
  .home section.feature .slider-nav button {
    background: #19254f;
    border: 0;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase; }
  .home section.feature .slider-mask {
    -webkit-box-align: end;
            align-items: flex-end;
    background: transparent url("./images/features/moldura_macbook.png") bottom center no-repeat;
    background-size: 100% 100%; }
  .home section.feature .slider-for {
    margin: 0 auto 37px;
    height: 100%;
    max-height: 510px;
    max-width: 86%;
    padding-top: 4px;
    width: 100%; }
    .home section.feature .slider-for > div {
      height: 100%;
      max-height: 510px; }
    .home section.feature .slider-for img {
      width: 100%;
      height: 100%;
      max-width: 100%; }
  .home section.feature .slick-dots {
    display: block !important;
    list-style: none;
    margin-top: 30px;
    padding: 0; }
    .home section.feature .slick-dots li {
      display: inline-block;
      margin: 0 8px; }
    .home section.feature .slick-dots .slick-active button {
      background: #19254f; }
    .home section.feature .slick-dots button {
      background: #ffffff;
      border: none;
      font-size: 0;
      height: 3px;
      padding: 0;
      width: 50px; }

.home section.videos {
  background: #273042; }
  .home section.videos .container {
    height: 100%;
    position: relative; }
  .home section.videos .content {
    -webkit-box-align: end;
            align-items: flex-end;
    display: grid;
    grid-template-columns: 80% 20%;
    height: 100%; }
    .home section.videos .content img {
      width: 100%;
      height: 100%;
      max-width: 100%; }
  .home section.videos .videos__text {
    color: #fff;
    font-size: 18px;
    height: auto;
    line-height: 34px;
    position: absolute;
    right: 40px;
    top: 85px;
    width: 300px;
    z-index: 1; }
    .home section.videos .videos__text span {
      color: #2ea6d0;
      display: block;
      font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
      font-size: 28px;
      margin-bottom: 40px;
      padding-left: 15px; }
    .home section.videos .videos__text:before {
      background: #2ea6d0;
      content: "";
      height: 2px;
      left: -50px;
      position: absolute;
      top: -20px;
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
      width: 100px; }
  .home section.videos .slider-nav {
    padding: 35px; }
  .home section.videos .slick-dots {
    display: block !important;
    list-style: none;
    margin-top: 30px;
    padding: 0; }
    .home section.videos .slick-dots li {
      display: inline-block;
      margin: 0 8px; }
    .home section.videos .slick-dots .slick-active button {
      background: #19254f; }
    .home section.videos .slick-dots button {
      background: #ffffff;
      border: none;
      font-size: 0;
      height: 3px;
      padding: 0;
      width: 50px; }

.home section.advantages {
  padding-top: 100px;
  background: -webkit-gradient(linear, right bottom, left top, from(#fff), color-stop(50%, #fff), color-stop(50%, #273042), to(#273042));
  background: linear-gradient(to top left, #fff 0%, #fff 50%, #273042 50%, #273042 100%); }
  .home section.advantages .container {
    max-width: 1200px; }
  .home section.advantages h2 {
    color: #2ea6d0;
    font-size: 34px; }
  .home section.advantages .text {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 55px;
    max-width: 55%; }
  .home section.advantages .content {
    -webkit-box-align: stretch;
            align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px; }
  .home section.advantages .box {
    background: #fff;
    box-shadow: 0px 50px 35px -25px rgba(0, 0, 0, 0.5);
    padding: 30px 35px;
    text-align: center; }
    .home section.advantages .box img {
      margin-bottom: 15px; }
    .home section.advantages .box h3 {
      color: #2ea6d0;
      font-size: 36px;
      margin-bottom: 15px; }
    .home section.advantages .box p {
      color: #858a8f;
      font-size: 20px; }
  .home section.advantages .button {
    background: #19254f;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 150px auto 50px;
    padding: 20px 40px;
    text-transform: uppercase; }

.home section.marcas {
  padding: 100px 0; }
  .home section.marcas .content {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    justify-content: space-around; }

.home section.depoiments .container {
  padding: 0; }

.home section.depoiments .content {
  -webkit-box-align: center;
          align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%; }

.home section.depoiments .slider-nav img {
  width: 100%; }

.home section.depoiments .slider-for {
  -webkit-box-align: center;
          align-items: center;
  align-self: stretch;
  background: #eceef0;
  display: -webkit-box;
  -js-display: flex;
  display: flex;
  margin-top: 7%; }

.home section.depoiments .depoiments__item {
  padding: 0 50px; }
  .home section.depoiments .depoiments__item p {
    color: #858a8f;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 20px; }
  .home section.depoiments .depoiments__item h3 {
    color: #2ea6d0;
    font-size: 14px;
    margin-bottom: 10px; }
  .home section.depoiments .depoiments__item h4 {
    color: #19254f;
    font-size: 15px; }

.home section.transports .container {
  padding: 0; }

.home section.transports .content {
  -webkit-box-align: center;
          align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%; }

.home section.transports .slider-for img {
  width: 100%; }

.home section.transports .slider-nav {
  -webkit-box-align: center;
          align-items: center;
  align-self: stretch;
  background: rgba(25, 37, 79, 0.3) url("./images/transports/bg.png") center left no-repeat;
  background-size: cover;
  display: -webkit-box;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: wrap-reverse; }

.home section.transports .transports__item {
  padding: 0 15%; }
  .home section.transports .transports__item p {
    color: #babdc3;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 50px; }
  .home section.transports .transports__item h3 {
    color: #2ea6d0;
    font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px; }
  .home section.transports .transports__item button {
    background: #2ea6d0;
    border: 0;
    border-radius: 50px;
    color: #19254f;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    text-transform: uppercase; }

.home section.transports .slick-dots {
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid #535a67;
  display: -webkit-box !important;
  -js-display: flex !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-left: 15%;
  width: 100%; }
  .home section.transports .slick-dots li {
    position: relative; }
  .home section.transports .slick-dots .slick-active button {
    color: #2ea6d0; }
  .home section.transports .slick-dots .slick-active:before {
    background: #2ea6d0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%; }
  .home section.transports .slick-dots button {
    background: transparent;
    border: none;
    color: #535a67;
    padding: 15px; }

.page-template-resources header:not(.fixed) nav a {
  color: #fff; }

.page-template-resources main {
  position: relative;
  overflow: hidden; }
  .page-template-resources main:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: solid 0 transparent;
    border-left: solid 0 transparent;
    border-right: solid 600px #2ea6d0;
    border-bottom: solid 400px transparent;
    z-index: 2; }
  .page-template-resources main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: solid 0 transparent;
    border-left: solid 2000px #273042;
    border-right: solid 0 transparent;
    border-bottom: solid 900px transparent;
    z-index: 0; }

.page-template-resources section.welcome {
  padding-top: 70px;
  height: 100vh;
  max-height: 100%;
  position: relative;
  z-index: 1; }
  .page-template-resources section.welcome .container {
    height: 100%; }
  .page-template-resources section.welcome .content {
    height: 100%;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    width: 55%; }
  .page-template-resources section.welcome h2 {
    color: #2ea6d0;
    font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-right: 20px; }
  .page-template-resources section.welcome p {
    color: #fff;
    font-size: 24px; }
  .page-template-resources section.welcome form {
    -webkit-box-align: center;
            align-items: center;
    border-bottom: 1px solid #5a6375;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 10px;
    width: 100%; }
    .page-template-resources section.welcome form input {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      width: 80%; }
      .page-template-resources section.welcome form input::-webkit-input-placeholder {
        color: #5a6375; }
      .page-template-resources section.welcome form input::-moz-placeholder {
        color: #5a6375; }
      .page-template-resources section.welcome form input:-ms-input-placeholder {
        color: #5a6375; }
      .page-template-resources section.welcome form input::-ms-input-placeholder {
        color: #5a6375; }
      .page-template-resources section.welcome form input::placeholder {
        color: #5a6375; }
    .page-template-resources section.welcome form button {
      background: #2ea6d0;
      border: 0;
      border-radius: 50px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      text-transform: uppercase; }

.page-template-resources section.blog {
  position: relative;
  z-index: 1; }
  .page-template-resources section.blog .blog__mask:before {
    display: none; }
  .page-template-resources section.blog .blog__top h2 {
    color: #fff; }
  .page-template-resources section.blog .blog__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    height: auto; }
  .page-template-resources section.blog .blog__post {
    max-width: 50%; }
    .page-template-resources section.blog .blog__post p,
    .page-template-resources section.blog .blog__post a {
      display: block; }

/*# sourceMappingURL=style.css.map */
